body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

/*
Use the .red class for to format DSGN/ASK/ETC titles
*/
.red {
	background-color: red;
	color: white;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 16.5px;
}

/*
Use the .blue class for to format DSGN/ASK/ETC titles
*/
.blue {
	background-color: blue;
	color: white;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 16.5px;
}

/*
Use the .black class for to format DSGN/ASK/ETC titles
*/
.black {
	background-color: black;
	color: white;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	padding: 16.5px;
}

/*
Use .byline for the tl;dr byline under the main title
*/
.byline {
    font-size: 1.3em;
	font-style: italic;
    line-height: 1.2em;
    color: #333;
}

/*
#Generic paragraph formatting
*/
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

/*
Generic circle bullet formatting titles
*/
ul.circle {
    list-style-type: circle;
}

.quote {
	font-size: 1.6em; 
	font-style: italic;
	font-weight: bold;
	text-align: right;
	color: grey;
}

/*
Aligning pictures to screen center
*/
.centerimage {
  text-align: center;
  display: block;
}