<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="centerimage">
				<img src="/assets/33logo.png" alt="Thirty Three Down Logo">
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
							<li><a href="https://www.patreon.com/thirtythreedown/creators">PATREON</a></li>
							<li><a href="https://www.redbubble.com/people/thirtythreedown/?asc=u">SHOP</a></li>
							<li><a href="https://twitter.com/thirtythreedown">TWITTER</a></li>
							<li><a href="contact/contact.html">CONTACT</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    	<ul>
							<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />We like to share what we do. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br>
							<br>
							XOXO, your friendly neighborhood charlatans.
				</ul>
			</footer>
		</body>
	</html>
