<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="centerimage">
				<img src="/assets/33logo.png" alt="Thirty Three Down Logo">
			</div>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="https://www.patreon.com/thirtythreedown/creators">PATREON</a></li>
	        		<li><a href="https://www.redbubble.com/people/thirtythreedown/?asc=u">SHOP</a></li>
							<li><a href="contact/contact.html">CONTACT</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/thirtythreedown">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
