<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">???</a></li>
	        		<li><a href="/cv">???</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thirtythreedownstudio@gmail.com">email</a></li>
	        		<li><a href="https://github.com/thirtythreedown">github.com/thirtythreedown</a></li>
				</ul>
			</footer>
		</body>
	</html>
